.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.component{
    box-shadow: 0 0 15px $fullblack;
    background-color: $black;
}

#canvas {
    @extend .component;
    border: 1px solid $fullblack;
    border-radius: 6px 0 0 6px;
    background-color: $white;
}

h1{
    margin: 5px;
    text-align: center;
}

input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=file]{
    display: none;
}

.slider {
    margin: 7px 5px 7px 5px;
    width: 120px;
    height: 11px;
    border-radius: 15px;
    float: right;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    overflow: hidden;
    background: $fullblack;
    box-shadow: inset 0 0 5px $fullblack;
    transition: all 0.4s;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $white;
        border: 4px solid #333;
        box-shadow: -407px 0 0 400px $white;
    }
    &:hover{
        box-shadow: 0 0 2.5px $white;
    }
}

button, .colorSelector, .imageLoader, .toggle {
    @extend .flexContainer;
    margin: 5px 5px 0 5px;
    float: right;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 25px;
    border-radius: 0.18em;
    border: 0.1em solid $white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s;
    color: $white;
    background-color: $black;
    &:hover{
        color: $black;
        background-color: $white;
    }
}

.toggle {
    input:checked + & {
        color: $black;
        background-color: $white;
    }
    input:checked + &:hover{
        color: $white;
        background-color: $grey;
    }
}